In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('TrainExer25.csv')

In [3]:
data.head()

   Observation  Wage  LogWage  Age  Female  Educ  DE2  DE3  DE4  Parttime
0            1    66    4.190   49       0     1    0    0    0         1
1            2    34    3.526   42       1     1    0    0    0         1
2            3    70    4.248   42       1     1    0    0    0         1
3            4    47    3.850   38       0     1    0    0    0         0
4            5   107    4.673   54       1     1    0    0    0         1