In [2]:
import pandas as pd
import numpy as np
import scipy as sp

In [3]:
data = pd.read_csv('TrainExer15.csv')

In [50]:
data

    Game  Year  Winning time men  Winning time women
0      1  1948             10.30               11.90
1      2  1952             10.40               11.50
2      3  1956             10.50               11.50
3      4  1960             10.20               11.00
4      5  1964             10.00               11.40
5      6  1968              9.95               11.08
6      7  1972             10.14               11.07
7      8  1976             10.06               11.08
8      9  1980             10.25               11.06
9     10  1984              9.99               10.97
10    11  1988              9.92               10.54
11    12  1992              9.96               10.82
12    13  1996              9.84               10.94
13    14  2000              9.87               10.75
14    15  2004              9.85               10.93

In [5]:
from sklearn.linear_model import LinearRegression

# Linear Model

In [39]:
men_y = data['Winning time men']
men_x = data[['Game']]
women_y = data['Winning time women']
women_x = data[['Game']]

In [40]:
lm_men = LinearRegression()
lm_women = LinearRegression()

In [41]:
lm_men.fit(men_x, men_y)
lm_women.fit(women_x, women_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
print(lm_men.coef_)

[-0.038]

In [48]:
predictions_men = lm_men.predict([[int('48')]])
predictions_women = lm_women.predict([[int('48')]])

In [49]:
print(predictions_men, '-', predictions_women)

[ 8.562] - [ 8.58552381]

# Non-Linear Model

In [55]:
men_y = np.log(data['Winning time men'])
men_x = data[['Game']]
women_y = np.log(data['Winning time women'])
women_x = data[['Game']]

In [56]:
lm_men = LinearRegression()
lm_women = LinearRegression()
lm_men.fit(men_x, men_y)
lm_women.fit(women_x, women_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [57]:
predictions_men = lm_men.predict([[int('61')]])
predictions_women = lm_women.predict([[int('61')]])
print(predictions_men, '-', predictions_women)

[ 2.111491] - [ 2.1092628]